//colour palette
$dodgerblue: #1a73e8;
$lavender: #e8eaed;
$whitesmoke: #f1f3f7;
$black: #000000;
$dimgray: #575957;
$white: #ffffff;

$gradient-background: linear-gradient(
	43deg,
	#4158d0 0%,
	#c850c0 46%,
	#ffcc70 100%
);
