//theme
$header-bg-colour: $dodgerblue;
$translate-bg: $lavender;
$translate-input-outline: $dodgerblue;
$translate-output-bg: $whitesmoke;
$translate-text: $black;
$language-picker-text: $dimgray;

//spacing
$spacing-primary: 0.0625rem;
$spacing-secondary: 0.125rem;
$spacing-tertiary: 0.1875rem;
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-def: 1rem;
$spacing-md: 1.125rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 1.75rem;
$spacing-xxxl: 2rem;
